__pycache__
.dropbox.attr
doctrees/
.buildinfo
*.pyc
*.pyo
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.sublime-workspace
.DS_Store
/gui_executables/**
/icon/**
/build/**
/dist/**
/paramagpy.egg-info/**
/venv/
